<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <a style="color: #999999; font-family: Verdana; font-size: 12px;" href="http://localhost:9000/user/verify/<%=user.id%>">Verify</a>
  </body>
</html>
